<i18n-var/>

<div>
    <p>
        ${i18n.__('hello', data.name)}
    </p>
    <p>
        ${i18n.__('howAreYou')}
    </p>

    <!--
    If you prefer, the following will also work:
    -->

    <!--
    <p>
        ${out.global.i18n.__('hello', data.name)}
    </p>
    <p>
        ${out.global.i18n.__('howAreYou')}
    </p>
    -->

</div>