<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>
            Marko + Koa + i18n
        </title>
    </head>
    <body>
        <h1>
            Marko + Koa + i18n
        </h1>
        <app-hello name="Frank"/>
        <ul>
            <li>
                <a href="/">
                    English
                </a>
            </li>
            <li>
                <a href="/?locale=es">
                    Spanish
                </a>
            </li>
        </ul>
        <browser-refresh/>
    </body>
</html>
